* {
  margin: 0;
  padding: 0;
}
.container-dashboard {
  display: flex;
  margin: 5% 2%;
}
.project-list {
  width: 100%;
  margin-bottom: 5%;
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.sub-projects {
  color: white;
  background-color: #002d62;
  width: inherit;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

li {
  list-style-type: disc;
}
.project-list-inner {
  margin: 1% 8%;
  font-size: 1.8rem;
}
.project-list-inner a {
  color: #002d62;
  font-weight: 600;
}
.grid-project-list {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  margin: 2% 1%;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}
.grid-item h4 {
  color: #002d62;
  font-weight: 700;
}
.grid-item h4:hover {
  color: #888888;
}
