body {
  background-image: url(../assets/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
}

.navbar-b {
  display: flex;
  margin-top: 0.5%;
}
.navbar-b a {
  text-decoration: none;
  font-size: large;
}
.left-nav-b img {
  width: 100px;
}
.left-nav-b {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  margin-left: 2%;
}
.right-nav-b {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;

  margin-right: 5%;
}
.right-nav-b a {
  text-decoration: none;
  color: #00308f;
  font-size: 1.5rem;
  padding: 0 5px;
  font-weight: 600;

  transition: 300ms ease-in-out;
}
.right-nav-b a:hover {
  text-decoration: underline;
}

.right-nav-b span {
  font-size: 2rem;
  font-weight: 600;
  color: #00308f;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70%;
  border-radius: 10px;
}
.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  width: 55%;
  border-radius: 5px;
}
.carousel .carousel-indicators li {
  background-color: red;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #00308f;
  width: 10%;
  height: 10%;
}
.home-icon {
  color: #00308f;
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .carousel-section {
    height: 400px;
  }
  .carousel-inner {
    width: 90%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #00308f;
    width: 15%;
    height: 10%;
  }
  .home-icon {
    display: none;
  }
}
