body {
  background-image: url(../assets/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
}

.navbar-b {
  display: flex;
  margin-top: 0.5%;
}
.navbar-b a {
  text-decoration: none;
  font-size: large;
}
.left-nav-b img {
  width: 100px;
}
.left-nav-b {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  margin-left: 2%;
}
.right-nav-b {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;

  margin-right: 5%;
}
.right-nav-b a {
  text-decoration: none;
  color: #00308f;
  font-size: 1.5rem;
  padding: 0 5px;
  font-weight: 800;
}
.right-nav-b span {
  font-size: 2rem;
  font-weight: 800;
  color: #00308f;
}
.right-nav-b a:hover {
  font-size: 1.8rem;
  color: #72a0c1;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70%;
  border-radius: 10px;
}
